#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75px;
}
#container1{

    background-color: coral;
}

#container2{

    background-color: chartreuse;
}

#container3{

    background-color: cadetblue;
}