html, body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

#main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 200px;
    gap: 10px;
    justify-items: center;
}

#body1 {
    grid-column: 1 / 4;
    border: 2px solid violet;
}

#body2 {
    border: 2px solid coral;
    grid-column: 1 / 2;
}

#body3 {
    border: 2px solid yellowgreen;
}

#body4 {
    border: 2px solid magenta;
}

#head {
    border: 2px solid springgreen;
    padding-top: 25px;
    grid-column: 1 / 4;
}

#foot {
    border: 2px solid gold;
    grid-column: 1 / 4;
}

.review {
    grid-column: 1 / 4;
    border: 2px solid blue;
}
