html, body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(300px);
    grid-template-rows: repeat(200px);
    gap: 10px;
    justify-content: center;
}

#body2 {

    border-right: 2px solid coral;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.font {
    font-family: monospace;
    font-size: 2em;
    color: blue;
}
.font2 {
    font-family: copperplate;
    font-size: 1em;
}

#body3 {
    border-right: 2px solid coral;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#body4 {
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#head {
    padding-top: 25px;
    grid-column: 1 / 4;
}

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid gold;
    grid-column: 1 / 4;
}

#baddies {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid orangered;
    padding-top: 15px;
    grid-column: 1 / 4;
}


