html, body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(300px);
    grid-template-rows: repeat(200px);
    gap: 10px;
    justify-items: center;
}

#body2 {
    border: 2px solid coral;
    grid-column: 1 / 2;
}
.font {
    font-family: monospace;
    font-size: 2em;
    color: orangered;
}

#body3 {
    border: 2px solid yellowgreen;
}

#body4 {
    border: 2px solid magenta;
}

#head {
    border: 2px solid springgreen;
    padding-top: 25px;
    grid-column: 1 / 4;
}

#foot {
    display: grid;
    grid-template: repeat(100px);
    border: 2px solid gold;
    grid-column: 1 / 4;
}

.total {
    grid-column: 1 / 4;
    border: 2px solid blue;
}


