html, body {
    margin: 0;
    padding: 0;
}

#grid-container{
    display: grid;
    grid-template: repeat(4, 300px) / repeat(3, 1fr);
}
header{
    font-size: medium;
    /*text color options*/
    color: #66cdaa;
    grid-column: 1 /4;
}
nav{
    background-color: cyan;
    grid-column: 1 / 4;
}
.image{
    background-color: chartreuse;
    grid-column: 1 / 4;
}
main{
    background-color: crimson;
}
footer{
    background-color: darkorchid;
    grid-column: 1 / 4;
}